/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  max-width: 1440px;
  }

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
  font-size: 15px;
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

main {
  gap: 35px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 79px;
}

header img {
  width: 61.09px;
  height: 19px;
  padding: 30px 50px;
}

nav ul {
  display: flex;
  gap: 68px;
  list-style: none;
  padding: 0px 50px;
  height: 35px;
  margin: 0;
  align-items: end;
}

nav ul li:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
  padding-top: 10px;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 30px 0px 0px 50px;
}

.section-title h1 {
  margin: 0;
  font-size: 22px;
}

.section-title p {
  margin-top: 5px;
  font-size: 16px;
}
/* formulaire de localisation */

.location {
  display: flex;
  align-items: center;
  gap: 0;
  margin-top: 35px;
  margin-bottom: 35px;
}

.iconenoire {
  margin: 0;
  color: black;
  height: 49px;
  width: 50px;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.location form {
  display: flex;
  margin: 0;
  padding: 0;
}

.location form input {
  height: 49px;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  padding: 0 15px;
  outline: none;
  border-left: none;
  border-right: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  width: 165px;
  text-align: center;
}

.location form button {
  height: 49px;
  width: 132px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 15px 16px;
  background: #0065fc;
  border: 1px solid #0065fc;
  color: white;
  font-size: 18px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.loupe {
  display: none;
}

/* Boutons filtre */

.filters {
  margin-top: 35px;
  display: flex;
  gap: 15px;
  align-items: center;
  height: 50px;
}

.boutonsfiltre {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.filtres {
  font-size: 18px;
}

.filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 4px 19px;
  border-radius: 25px;
  border: 2px solid #d9d9d9;
  height: 50px;
  font-size: 17px;
  font-weight: bold;
  background: white;
}
.filter-btn .fa-solid {
  font-size: 22px;
}

.filter-btn:hover {
  background: #deebff;
  cursor: auto;
}

.info {
  margin-top: 35px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.iconeinfo {
  margin: 0;
  padding: 0px 0px 2px 2px;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  font-size: 10px;
}

.info p {
  font-size: 16px;
  margin: 0;
}



.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.card-rating {
  display: flex;
  gap: 1px;
}

.neutral-star {
  color: var(--main-bg-color);
}

h2 {
  font-size: 22px;
  margin: 0;
}

h4 {
  font-size: 18px;
  margin-top: 33px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin: 50px 50px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
#hebergements {
  width: 65%;
}

.containercards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hebergement-cards {
  width: calc(33% - 15px);
}

.hebergement-cards .card {
  height: 207px;
  margin-top: 33px;
}

.hebergement-cards img {
  width: 100%;
  height: 119px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergement-cards .card-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  padding-top: 10px;
  font-size: clamp(12px, 1.2vw, 14px);
}

.hebergement-cards .card-subtitle {
  margin-top: 8px;
  margin-bottom: 0;
  padding-left: 10px;
  font-size: clamp(12px, 1.2vw, 14px);
}

.hebergement-cards .card-rating {
  margin-top: 15px;
  padding-left: 10px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-title h2 {
  margin: 0;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
  height: 146px;
}

.populaires-cards img {
  width: 33%;
  height: 146px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 10px;
}

/* Activités*/

#activites {
  margin: 0px 50px;
  
}

#activites h2 {
  margin-top: 70px;
  margin-bottom: 35px;
}

.card1 {
  background-color: white;
  border-radius: 20px;
  height: 100%;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  display: flex;
  flex-direction: column;
}

.titre-card1 {
  height: 10%;
  display: flex;
  align-items: center;
}

.desphotos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.unephoto {
  width: calc(25% - 22px);
  aspect-ratio: 297 / 440;
}

.unephoto img {
  width: 100%;
  aspect-ratio: 297 / 380;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.unephoto h5 {
  font-size: 16px;
  padding-left: 20px;
}

footer {
  width: 95%;
  margin: auto;
  display: flex;
  margin-top: 35px;
}

.foot {
  background: #f2f2f2;
  width: 33%;
  height: 163px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.foot h3 {
  font-size: 18px;
}

.foot p {
  font-size: 16px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  #hebergements {
    width: 100%;
  }

  .hebergement-cards .card-title{
    font-size: 14px;
  }

  .hebergement-cards .card-subtitle{
    font-size: 14px;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: calc(33% - 5px);
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .unephoto {
    width: calc(25% - 18px);
    aspect-ratio: 193 / 270;
  }

  .unephoto img {
    width: 100%;
    aspect-ratio: 193 / 200;
  }

  .titre-card1 {
    height: 20%;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */

  body {
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 320px;
  }

  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  header img {
    display: block;
    margin: auto;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  nav ul {
    display: flex;
    width: 100%;
    gap: 0;
    padding: 0;
  }

  nav ul li {
    padding-bottom: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    border: 2px solid white;
  }

  nav ul li:hover {
    color: var(--main-color);
    border-top: none;
    border-bottom: 2px solid var(--main-color);
    padding-top: 10px;
    cursor: pointer;
  }

  .section-title {
    margin: 0;
  }

  .section-title h1 {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .sous-titre {
    margin-top: 5px;
    font-size: 16px;
    margin-left: 20px;
      }

  .location {
    justify-content: center;
  }

  .iconenoire {
    min-width: 50px;
    margin-left: 20px;
  }

  .location form input {
    width: 100%;
  }

  .location form button {
    height: 49px;
    width: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }

  .loupe {
    height: 49px;
    width: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 17px;
  }

  .search-btn {
    display: none;
  }

  .filters {
    display: block;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .boutonsfiltre {
    flex-wrap: wrap;
    gap: 15px;
  }

  .filter-btn {
    width: calc(50% - 10px);
  }

  .info {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .hebergements-and-populaires {
    flex-direction: column-reverse;
    gap: 30px;
    padding: 0;
    margin: 0;
  }

  .hebergements-and-populaires section {
    border-radius: 0px;
    padding-bottom: 0;
  }

  .populaires {
    margin-top: 0;
  }

  .populaires-cards {
    display: block;
  }

  #hebergements {
    background: none;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .containercards {
    display: block;
    width: 100%;
  }

  .hebergement-cards {
    width: 100% !important;
  }

  .hebergement-cards .card {
    width: 100%;
  }

  .hebergement-cards img {
    aspect-ratio: 335 / 124;
  }

  .desphotos {
    display: block;
  }

  .unephoto {
    width: 100% !important;
    margin-bottom: 20px;
    aspect-ratio: 315 / 200;
  }

  .unephoto img {
    aspect-ratio: 315 / 141;
  }

  footer {
    display: block;
    width: 100%;
    background: #f2f2f2;
  }

  .foot {
    width: 100%;
    height: 100px;
    padding: 20px 0px;
    padding-left: 50px;
    margin-bottom: 30px;
    box-sizing: border-box;
  }
}
